body *{
    font-family: iranSans;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-size: 14px !important;
}

.font12{
    font-size: 12px !important;
}

@font-face {
    font-family: "iranSans";
    src: url("assets/fonts/iranSans.eot") format("eot");
    src: url("assets/fonts/iranSans.ttf") format("ttf");
    src: url("assets/fonts/iranSans.woff") format("woff");
}

.tether-element{
    z-index: 10000;
}
